
.icon-mail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-github:before { content: '\f055'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */