.Portfolio_ProjectModal_Content {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 60%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  padding: 20px;
}